<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
  <!-- Page Header -->
  <%- include('./partials/nav.ejs')%>
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Hi welcome!</h1>
            <h3>Something in Mind? Blog it Up!</h3>
            
            <span class="subheading">Created by Atharv Bhagya</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main content -->
  <div class="container">
    <%if(likeErr !=""){%>
      <div class="alert alert-danger" role="alert">
        <%=likeErr%> 
      </div>
      <%}%>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% for(var i=0; i<posts.length; i++){%>
         
          <div class="post-preview" >
            <a href="/post/<%=posts[i]._id%>">
              <h2 class="post-title">
                <%= posts[i].title %>
              </h2>
            </a>
          </div>
          <p class="post-meta" >Posted by
            <a href="#"><%= posts[i].username %></a>
            on <%= posts[i].createdAt.toDateString() %>
              <form action="/post/like/?id=<%=posts[i]._id%>&userId=<%=userId%>" method="post">
                <button class="like" name="like">
              
                  <i class="far fa-thumbs-up" ></i>
                </button>
              </form>
              
             <%=posts[i].LikeCount%>
              <button class="dislike">
                <i class="far fa-thumbs-down"></i>
              </button>
              20
          </p>
          <hr>
        <%}%>
        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts →</a>
        </div>
      </div>
    </div>
  </div>


  <%- include('./partials/footer.ejs')%>
</body>
</html>
 
 
