<html lang="en">
  <%- include('./partials/head.ejs')%>
<body>
  <!-- Page Header -->
  <%- include('./partials/nav.ejs')%>
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Hi welcome!</h1>
            <h3>Something in Mind? Blog it Up!</h3>
            
            <span class="subheading">Created by Atharv Bhagya</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main content -->
  <div class="container">
    <%if(likeErr !=""){%>
      <div class="alert alert-danger" role="alert">
        <%=likeErr%> 
      </div>
      <%}%>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% for(var i=0; i<posts.length; i++){%>
         
          <div class="post-preview" >
            <a href="/ppost/<%=posts[i]._id%>">
              <h2 class="post-title">
                <%= posts[i].title %>
              </h2>
            </a>
          </div>
          <p class="post-meta" >Posted by
            <a href="#"><%= posts[i].username %></a>
            on <%= posts[i].createdAt.toDateString() %>
            <!-- <div class="like-class"> -->

              <a class="post-likes" href="/post/like/?id=<%=posts[i]._id%>&userId=<%=userId%>"  like-Count="<%=posts[i].LikeCount%>">
               <button class="like">

                 <i class="far fa-thumbs-up" ></i>
                 
                 <%=posts[i].LikeCount%>
               </button>
              </a>
            <!-- </div> -->
              
            
              <button class="dislike">
                <i class="far fa-thumbs-down"></i>
              </button>
              20
          </p>
          <hr>
        <%}%>
        
        <!-- Pager -->
      </div>
    </div>
  </div>
  
  <div class="clearfix" id="Yrr" duncc="value of Duncc attribute">
    <a class="btn btn-primary float-center" href="#" >Older Posts →</a>
  </div>

  <%- include('./partials/footer.ejs')%>

  <!-- <script > 
  document.addEventListener("DOMContentLoaded", function(){
    //....
    $('#Yrr').on('click', (event)=>{
    event.preventDefault();
    var currEle= $(this);
    //currEle.attr('class', "sheesh")
    console.log('I was in the likeChange script booom!--->
    <!-- //  let self= this;

  });
});
 </script> --> 
 <script
 src="https://code.jquery.com/jquery-2.2.4.js"
 integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
 crossorigin="anonymous"></script>

 <script src="https://code.jquery.com/jquery-1.12.4.js" 
 integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" 
 crossorigin="anonymous"></script>

 <script src="https://code.jquery.com/jquery-3.6.0.js" 
 integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

</body>
</html>
 
 
